
    body { 
        margin:0; 
        font-family: Arial, sans-serif;
    }
    .topnav { 
        background-color:#333; 
        overflow:hidden; }
    .topnav a {
      float:left; 
      display:block; 
      color:#f2f2f2; 
      text-align:center;
      padding:14px 16px; 
      text-decoration:none;
       font-size:17px;
    }
    .topnav a:hover {
         background-color:#ddd; 
         color:black; 
        }
    .topnav a.active { 
        background-color:#04AA6D; 
        color:white; 
    }
    header, footer {
      padding:20px; background:#f4f4f4; text-align:center;
    }
    main { padding:20px; }
    img { max-width:100%; height:auto; }
    table, th, td {
      border:1px solid #bbb; border-collapse:collapse; padding:8px;
    }
    table { width:100%; margin:20px 0; }

    
    body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.munters.com/globalassets/digizuite/10954-en-poultry-layers-broilers-landing-page-banner.webp");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

